body {
    height: 100%;
    background: linear-gradient(90deg, #fff 50%, #C8CCD0 50%);
    padding: 0;
    margin: 0
}
.top {
    background-color: #081F2D;
    height: 600px;
}
.top .inner {
    width: 90%;
    margin: auto;
    padding-top: 50px;
}
.top .inner .inner1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.top .inner .inner2 {
    background-image: url('pictures/image-hero.jpg');
    width: 90%;
    height: 500px;
    position: absolute;
    top: 170px
}
.top .inner .inner2 img {
    padding-top: 350px;
    transform: scale(0.9);
}
.top .inner .card {
    background-color: #fff;
    text-align: center;
    width: 70%;
    padding: 20px;
    z-index: 2;
}
.top .inner .card button {
    background-color: #F93549;
    border: none;
    color: #fff;
    padding: 5px 10px;
    width: 70%;
    margin: 8px;
}
.top .inner .card input {
    margin: 8px;
    padding: 5px 10px
}
.content {
    width: 90%;
    margin: 150px auto;
}
#scnd {
    margin-left: 97%;
    margin-top: 30px;
}
.square {
    height: 40px;
    width: 40px;
    margin-bottom: 25px;
    background-color: #F93549;
}
.content img {
    width: 70%
}
.content .group {
    margin-top: 60px;
}
.content .group .image {
    width: 95%;
    grid-area: img;
    padding: 5px
}
.content .group img {
    grid-area: title;
    margin: 10px
}
.content #three, .content #five {
    grid-template-areas: "title title img"
        "text text img";
}
.content .group #third p, .content .group #fifth p {
    padding: 0
}
.content .group #third img, .content .group #fifth img {
    width: 70%
}
.content .group p {
    font-family: 'Manrope', sans-serif;
    line-height: 32px;
    color: #081F2D;
    padding-left: 20px;
    grid-area: text;
}
.content .group:nth-of-type(even) {
    display: grid;
    grid-template-areas: "title text img";
    grid-template-columns: 1fr 1fr 2fr;
}
.content .group:nth-of-type(odd) {
    display: grid;
    grid-template-areas: "img title text";
    grid-template-columns: 2fr 1fr 1fr;
}
.footer {
    background-color: #040201;
    color: #C8CCD0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 20px
}
.footer .item:first-of-type {
    border-right: 1px solid #C8CCD0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer .item:first-of-type img {
    width: 180px
}
.footer .item:first-of-type p {
    padding-top: 130px;
    text-align: right;
}
.footer .item {
    height:fit-content;
    padding-top: 50px;
    padding-left: 20px;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
}
footer {
    background-color: #2D3D4A;
    color: #C8CCD0;
    padding: 10px;
    text-align: right;
    font-family: 'Manrope', sans-serif;
}
@media screen and (max-width: 800px) {
    body {background: #fff !important;}
    .top {
        height: 1100px;
        width: 100%;
    }
    .top .inner .inner1 {display: block}
    .top .inner .card {
        width: 90%;
        height: 330px;
        margin-top: 550px;
    }
    .top .inner .card input {
        width: 90%;
        margin-top: 20px
    } 
    .top .inner .card button { width: 97%}
    .top .inner .inner2 img {
        display: none;
    }
    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .square {
        width: 20px;
        height: 20px;
        margin: 10px
    }
    #scnd {
        margin-left: 93%;
    }
    .content {margin: 100px auto;}
    .content img { 
        width: 95%;
        padding: 10px
    }
    .logo {transform: scale(0.5);}
    .content {width: 100%}
    .content .group:nth-of-type(odd) {
        background-color: #C8CCD0;
        display: flex;
        flex-direction: column;
    }
    .content .group { padding: 10px}
    .content .group .image,  .content .group p{
        width: 90%;
    }
    .content .group:nth-of-type(even) {
        display: flex;
        flex-direction: column;
    }
    .footer .item:first-of-type {
        border-bottom: 1px solid #C8CCD0;
        border-right: none;
        width: 100%;
        display: block;
    }
    .footer .item:first-of-type img { 
        transform: scale(0.8);
        display: block;
        margin: auto
    }
    .footer .item {
        width: 25%;
        font-size: 14px;
        padding: 8px;
        text-align: center;
    }
    .footer .item img {
        transform: scale(0.5);
    }
    .footer .item:first-of-type p {
        padding: 0;
        text-align: center;
    }
}